<h1>Survey Question</h1>

<%= simple_form_for @survey_question do |f| %>
  <%= f.input :body %>
  <h2>Survey Answers</h2>
  <%= f.simple_fields_for :survey_answers do |sur_ans| %>
    <%= render 'survey_answer_fields', f: sur_ans %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add answer', f, :survey_answers %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>